div.clients {
  margin-top: 20px;

  ul {
    margin: 8px 0 0 0;
    padding: 0;
  
    li {
      list-style-type: none;
      padding: 0;
    }
  }

  div.showing-clients {
    text-align: right;
    font-size: 75%;
  }

  .load-error {
    color:red;
  }

  .account-chart-legend {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    padding:0 8px;

    span, span>input {
      cursor: pointer;
    }

    .legend-box {
      display: inline-block;
      width:16px;
      height:14px;
      margin: 0 16px 0 4px;
    }
  }
}
