<div class="clients">
  <div *ngIf="loadingClient" class="loading">
    Loading clients information...
    <div class="spinner-grow spinner-grow-sm text-secondary"></div>
  </div>
  <div *ngIf="loadError" class="load-error">There was an error loading client data: <pre>{{loadError}}</pre></div>
  <div *ngIf="!loadingClient && !loadError" class="content">
    <div class="row">
      <div class="col-6">
        <app-clients-filter [clients]="clients" (setClients)="setFilteredClients($event)"></app-clients-filter>
      </div>
      <div class="col-6 showing-clients">Showing {{filteredClients.length}} of {{clients.length}} clients </div>
    </div>

    <ul>
      <li *ngFor="let client of filteredClients">
        <app-client [client]="client" [cardTypes]="cardTypes"></app-client>
      </li>
    </ul>
  </div>
</div>