<div class="client row g-0">

  <div class="col-5">
    <div class="client-info">
      <div class="name">{{getClientName()}}</div>
      <div class="address" *ngIf="client.address">{{client.address}}</div>
      <div class="dob" *ngIf="hasDoB()">Born on {{getClientDoB()}}</div>
    </div>
  
    <div class="account-balances" *ngIf="balancesRep.negative.count>0">
      <div [ngStyle]="{'color': balancesRep.negative.count>0?'#AA3333':''}">{{balancesRep.negative.count}} account{{balancesRep.negative.count > 1 ? 's':''}} {{balancesRep.negative.count > 1 ? 'have':'has'}} a negative balance ({{balancesRep.negative.percent|percent}})</div>
      <!-- <div class="ab-title">Account balance repartition:</div>
      <div class="ab-positive">- Positive balances: {{balancesRep.positive.percent}}% ({{balancesRep.positive.count}} accounts)</div>
      <div class="ab-negative">- Negative balances: {{balancesRep.negative.percent}}% ({{balancesRep.negative.count}} accounts)</div> -->
    </div>

    <div class="account-details">
      <button type="button" class="btn btn-sm btn-secondary" (click)="showAccountDetails()">Account Details...</button>
    </div>
  </div>

  <div class="col accounts">
    <app-accounts-chart [client]="client" [accounts]="accounts" (chartClicked)="onChartClicked()"></app-accounts-chart>
  </div>
</div>
