<div class="client row g-0">

  <div class="col-5">
    <div class="client-info">
      <div class="name">{{getClientName()}}</div>
      <div class="address" *ngIf="client.address">{{client.address}}</div>
      <div class="dob" *ngIf="hasDoB()">Born on {{getClientDoB()}}</div>
    </div>
  
    <div class="account-balances" *ngIf="balancesRep.negative.count>0">
      <div [ngStyle]="{'color': balancesRep.negative.count>0?'#AA3333':''}">{{balancesRep.negative.count}} account{{balancesRep.negative.count > 1 ? 's':''}} {{balancesRep.negative.count > 1 ? 'have':'has'}} a negative balance ({{balancesRep.negative.percent|percent}})</div>
    </div>
  </div>

  <div class="col accounts">
    <div class=" account-details" (click)="showAccountDetails()">Account Details...</div>
    <app-accounts-chart [client]="client" (chartClicked)="onChartClicked()"></app-accounts-chart>
  </div>
</div>
